
body{
    background-image: url(../imagenesAplicacion/fondoazul.jpg);
}

#Contenedor
{
    width: 95%;
    margin: 0 auto;
    background: #ffffff;
}

#top {
    position: relative;
    background-color: #51a410;
    color: white;
    height: 90px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #51a410;
    height: 70px;
    padding: 0px;
    margin-top: 4px;
}

#left {
    float: left;
    height: 60%;
    background-color: white;
    padding: 2px;

}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;

}

.center_content {
    position: relative;
    background-color: white;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 195px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white !important;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black !important;;
    font-weight : bold;
    text-decoration : underline;
}

a:link, a:visited
{
    color: #22419A !important;;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover
{
    color: black !important;;
    text-decoration : underline;
}


