#tituloContenido
{ 
    text-align: center;
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 20px;

}
body {
    padding-left: 0%;
    padding-right: 0%;
    line-height: 1;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#header{
    background-color: white;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
    margin-bottom: 5px;
}


#header .con_escudo_titulo {
    position: relative;
    top: 70px;
    /* padding-left: 25px; */
    background: linear-gradient(to right,rgb(255, 255, 255)0%,rgb(255, 255, 255)51%,rgb(255, 255, 255)100%);
    /* box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5); */
    height: 88px;
}

#header .con_escudo_titulo .logo {
    position: relative;
    z-index: 1;
    float: left;
    margin-top: 8px;
    margin-left: 13px;
    background: url(../img/logoapp.png.xhtml) no-repeat;
}

.notificaciones
{    
    float: right;
    padding-left: 17px;
    /*width: 68px;
    height: 100px;
    padding-top: 33px; */
}

#ciruculonotificacionconteo
{
    float: left;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: #D20005;
    color: #FFFFFF;
    font-size: 10pt;

}

#header .bottom{
    height: 100px;
    background: linear-gradient(to right,rgb(17,177,230)0%,rgb(34, 126, 156)51%,rgb(17,177,230) 100%);
}

#menu {
    float: left;
    width: 17%;
}

#menuVisitante {
    float: top;
    background: linear-gradient(to right,rgb(17,177,230)0%,rgb(34, 126, 156)51%,rgb(17,177,230) 100%);
    padding: 12px;

    min-width: 125px;
}

#tituloMenu{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(194,223,239,0.5);
}

#content{
    background-color: white;
    padding: 5px;
    margin-left: 16%;
    font-size: 12px !important;
    min-height: 450px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}

#contentVisitante{
    background-color: white;
    padding: 5px;
    font-size: 12px !important;
    min-height: 450px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}


.CampoLabelObligatorios
{
    font-style: italic;
    font-size: 15px;    
}
.CampoLabelEspecificacion
{
    font-style: italic;
    font-size: 10px;
}

.BotonesSesion
{
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    border: 2px  solid #ffffff;
    border-style: dashed;
    right: 30px;
    top: 10px;
    border-radius: 10px;    
}

.panelgrid , .panelgrid tr , .panelgrid td
{
    border-style: none !important

}






.tituloContenido
{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color:#22419A;
    font-weight: bold;
}


.CuadroDeBotonesSesion
{
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    border: 1px  solid #ffffff;
    border-style: dashed;
    right: 20px;
    top: 10px;
    border-radius: 10px;    
}

.CuadroDeBotonesSesion .botonSesion
{
    background: #092169;
    font-size: 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.ui-fileupload-content{
    display: none !important;
}
.ui-fileupload{
    width: 120px;
    
}
.ui-fileupload-buttonbar {
    border: none !important;
}

.ui-tieredmenu
{
    background: url(../imagenesAplicacion/fondoNaranja.jpg.xhtml) !important;
}

.ui-menu-child
{
    background: url(../imagenesAplicacion/fondoNaranja.jpg.xhtml) !important;
}

.ui-widget-header
{
    background: url(../imagenesAplicacion/fondoNaranja.jpg.xhtml) no-repeat !important;
    background-size: cover !important;
}

.refreshIcon
{   color: white;
    background: #459e00;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.refreshIcon i
{
    vertical-align: middle;
}